<h1>Area Chart</h1>
<p>Click on a data point on the line to refresh the chart's data using elastic.js.</p>
                    
<div class="container-fluid">
            <div class="row-fluid">
                <div><strong>Area Chart with Angular &amp; d3</strong></div>
                <div class="span10" style="height:200px">
                    <fs:area 
                        bind="results.facets.Times"
                        duration="750"
                        interpolate="true"
                        on-click="filterSearchA" />
                </div>
            </div>
        </div>



