<h1>Area Chart</h1>

                
<div class="container-fluid">
            <div class="row-fluid">
                <div><strong>Area Chart with Angular &amp; d3</strong></div>
                <div class="span10" style="height:350px">
                    <fs:area 
                        bind="results.facets.Times"
                        duration="750"
                        height="450"
                        interpolate="true"
                        on-click="filterSearchA" />
                </div>
                <h3>Click a data point on the line to simulate a data drill-down effect.</h3>

            </div>
        </div>


